<tr>
  <td></td>
  <td>
    <%= l(:label_uc_controller) %>:
    <% Rails.logger.debug "<<<< @controllers = #{@controllers}" %>
    <%= select_tag '3235235', options_for_select(@controllers), class: 'select2 uc', data: {select2_width: '200px'} %>

    <span style="margin-left: 10px;"><%= l(:label_uc_action) %>:</span>
    <%= select_tag '1231231', options_for_select(@controllers), class: 'select2 uc', data: {select2_width: '200px'} %>
  </td>
</tr>
<script type="text/javascript">
//<![CDATA[
  $('.select2.uc').select2({width: '200px'});
//]]>
</script>