<div id="rmplus-logo" style="text-align: left; margin-top: 10px;">
  <div>
  <%= image_tag 'logo.png', plugin: :under_construction, alt: l(:label_rmplus_logo), title: l(:label_rmplus_logo), width: 50, style: 'vertical-align: bottom;' %>
  <span style="font-size: 10pt; margin-left: 5px;">
    <%= l(:label_rmplus_logo) %>&nbsp<a href="http://rmplus.pro">http://rmplus.pro</a>.
  </span>
  </div>
</div>