<div class="uc-text-message">
  <%= textilizable(uc_period.custom_message) %>
</div>

<div class="rmp-divider"></div>

<% if uc_period.begin_date && uc_period.end_date %>
  <div class="uc-period-of-work">
    <div class="uc-period">
      <span class="uc-calendar">
        <% if uc_format_time_to_date(uc_period.begin_date) == uc_format_time_to_date(uc_period.end_date) %>
          <%= uc_format_time_to_date(uc_period.begin_date) %>
        <% else %>
          <%= uc_format_time_to_date(uc_period.begin_date) %> &mdash; <%= uc_format_time_to_date(uc_period.end_date) %>
        <% end %>
      </span>
      <span class="uc-clock">
        <% if uc_format_time_to_date(uc_period.begin_date) == uc_format_time_to_date(uc_period.end_date) %>
          <%= uc_format_time_to_datetime(uc_period.begin_date) %> &mdash; <%= uc_format_time_to_datetime(uc_period.end_date) %>
        <% else %>
          <%= uc_format_time_to_date(uc_period.begin_date) %> <%= uc_format_time_to_datetime(uc_period.begin_date) %> &mdash; <%= uc_format_time_to_date(uc_period.end_date) %> <%= uc_format_time_to_datetime(uc_period.end_date) %>
        <% end %>
      </span>
    </div>
    <% if Time.zone.local_to_utc(uc_period.end_date) > Time.zone.local_to_utc(Time.now) %>
      <div class="uc-durations">
        <% if Time.zone.local_to_utc(Time.now) < Time.zone.local_to_utc(uc_period.begin_date) %>
            <span><%= l(:before_the_start_of_work_left) %></span>
            <% duration = [60,60,24].reduce([Time.zone.local_to_utc(uc_period.begin_date) - Time.zone.local_to_utc(Time.now)]) { |m,o| m.unshift(m.shift.divmod(o)).flatten } %>
        <% else %>
            <span><%= l(:duration_work) %></span>
            <% duration = [60,60,24].reduce([Time.zone.local_to_utc(uc_period.end_date) - Time.zone.local_to_utc(Time.now)]) { |m,o| m.unshift(m.shift.divmod(o)).flatten } %>
        <% end %>

        <span>
          <%= l('datetime.distance_in_words.x_days', count: duration[0]) if duration[0] != 0 %>
          <%= l('datetime.distance_in_words.x_hours', count: duration[1]) if duration[1] != 0 %>
          <%= l('datetime.distance_in_words.x_minutes', count: duration[2]) if duration[2] != 0 %>
        </span>
      </div>
    <% else %>
      <div class="uc-durations">
        <span><%= l(:finish_work) %></span>
      </div>
    <% end %>
  </div>

  <div class="rmp-divider"></div>
<% end %>

<div class="uc-responsible-list">
  <% if uc_period.user %>
    <% if Redmine::Plugin.installed?(:ldap_users_sync) %>
      <p><%= l(:label_inform_responsible) %></p>
      <div class="uc-ask-user">
        <%= show_user_info(uc_period.user, [:name,:phones,:email]) %>
      </div>
    <% else %>
      <div class="uc-ask-label"><%= l(:label_ask_for) %>: <%= link_to_user(uc_period.user) %></div>
    <% end %>
  <% end %>
</div>
