<% content_for :header_tags do %>
  <%= stylesheet_link_tag :rmplus, plugin: :under_construction %>
<% end %>
<style type="text/css">
  .modal.fade.in{
    padding: 10px;
  }
</style>

<% content_for :header do %>
  <table style="width: 100%;">
    <tr>
      <td width="1%"><%= image_tag 'uc-period.png', plugin: :under_construction %></td>
      <td>
        <h1>
          <p><%= l(:at_the_moment) %></p>
          <%= l(:warning_technical_operations_in_progress) %>
        </h1>
      </td>
      <td width="1%">
        <span class="rmp-logo"></span>
      </td>
    </tr>
  </table>
<% end %>

<%= render partial: 'uc_periods/under_construction', locals: { uc_period: @uc_period } %>

<% rmp_html_title(['Redmine', l(:warning_technical_operations_in_progress)]) %>