.uc-ask-label {
  padding: 5px 0 2px;
  clear: left;
  font-weight: bold;
  white-space: nowrap;
}

.rmp-centered-window .uc-text-message {
  font-size: 14px;
}
.rmp-centered-window .uc-text-message p:first-child {
  margin-top: 0;
}
.rmp-centered-window .uc-text-message p {
  margin: 5px 0;
}
.uc-period-of-work {
  overflow: hidden;
}
.uc-period-of-work .uc-period {
  text-align: left;
  width: 50%;
  float: left;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.uc-period-of-work .uc-period span {
  padding-left: 20px;
  white-space: nowrap;
  display: inline-block;
}
.uc-period-of-work .uc-calendar {
  background: url(../images/uc-calendar.png) no-repeat;
  margin-right: 5px;
  margin-bottom: 5px;
}
.uc-period-of-work .uc-clock {
  background: url(../images/uc-clock.png) no-repeat;
}
.uc-period-of-work .uc-durations {
  text-align: right;
  width: 50%;
  float: left;
  color: #9b9b9b;
}
.uc-period-of-work .uc-durations span:first-child {
  font-size: 10px;
  font-weight: bold;
}
.uc-period-of-work .uc-durations span {
  font-size: 9pt;
}
.uc-responsible-list {
  background-color: #f7f7f7;
  margin: -10px;
  padding: 10px;
  overflow: hidden;
}
.uc-responsible-list .uc-ask-user {
  width: 50%;
  float: left;
  margin-top: 10px;
}
.uc-responsible-list p {
  margin: 0;
  color: #9b9b9b;
  font-weight: bold;
  font-size: 9pt;
  padding-top: 1px;
}
.uc-responsible-list .uc-ask-user .ld_info_block,
.uc-responsible-list .uc-ask-user .ld_user_name {
  font-size: 9pt;
  color: #9b9b9b;
}
.uc-responsible-list .uc-ask-user .ld_user_mail a,
.uc-responsible-list .uc-ask-user .ld_user_mail a:hover,
.uc-responsible-list .uc-ask-user .ld_user_phones a,
.uc-responsible-list .uc-ask-user .ld_user_phones a:hover {
  color: #202020;
}
.uc-responsible-list .uc-ask-user .ld_user_mail a span,
.uc-responsible-list .uc-ask-user .ld_user_mail a:hover span,
.uc-responsible-list .uc-ask-user .ld_user_phones a span,
.uc-responsible-list .uc-ask-user .ld_user_phones a:hover span {
  text-decoration: none;
  border-bottom: 1px dashed #202020;
  color: #202020;
}
.uc-responsible-list .uc-ask-user .ld_mail_link {
  border-bottom: none;
}
.uc-list-browsers table {
  width: 100%;
}
.uc-list-browsers table td {
  text-align: center;
  width: 20%;
}

.uc-float-warn {
  position: fixed;
  top: 3.5%;
  right: 0.2%;
  z-index: 1000;
  max-width: 600px;
}
.uc-float-warn .rmp-header {
  background-color: #c54040;
  margin-bottom: 0;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.uc-float-warn .rmp-header .uc-warn-close {
  border-bottom: 1px dotted #fff;
  color: #fff;
  cursor: pointer;
}
.uc-float-warn .rmp-wrapper {
  position: relative;
  border: 1px solid #ccc;
  border-top: none;
  border-image: none;
  box-shadow: 0 5px 5px -6px #000101;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px -6px #000101;
  -moz-box-shadow: 0 5px 5px -6px #000101;
  word-wrap: break-word;
  padding: 10px;
  z-index: 1;
  min-width: 600px;
  box-sizing: border-box;
}
.uc-float-warn .rmp-wrapper,
.uc-float-warn .rmp-wrapper .uc-responsible-list {
  border-radius: 0 0 5px 5px;
}
.uc-float-warn div.rmp-divider {
  border-top: 1px solid #ccc;
  margin: 10px -10px;
}
.uc-float-warn .rmp-header h1 {
  color: #fff;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
}
.uc-float-warn .uc-text-message p:first-child {
  margin-top: 0;
}
.uc-float-warn .uc-text-message p {
  margin: 5px 0;
}
.uc-float-warn a {
  color: #0099CC;
  border-bottom-color: #0099CC;
}
.uc-float-warn a span {
  border-bottom-color: #0099CC;
}