.admin-menu-under-construction {
  background-image: url(../images/under_construction.png);
}

.uc_float_warn {
  position: fixed;
  top: 35px;
  left: 500px;
  z-index: 100;
  border-radius: 4px;
  border: 1px solid #faebcc;
  padding: 5px;
  background-color: #fcf8e3;
  color: #8a6d3b;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  max-width: 620px;
}

.uc_float_warn h3 {
  color: #8a6d3b;
  border-bottom: 1px dotted #8a6d3b;
}

.uc_close_warning {
  margin-right: -15px;
  margin-top: -1px;
}

.uc_ask_label {
  padding: 6px;
  padding-bottom: 2px;
}

.uc_ask_user {
  border-top: 1px solid #ddd;
}