<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang=<%= current_language %>>
<head>
  <meta charset="utf-8" />
  <title><%= html_title %></title>
  <meta name="description" content=<%= Redmine::Info.app_name %> />
  <%= csrf_meta_tag %>
  <%= favicon %>
  <%= stylesheet_link_tag 'under_construction', plugin: :under_construction %>
  <style type="text/css">
    .wiki-anchor{
        display: none;
    }
  </style>
</head>
<body>
    <div class="uc-centered-window" style="left: 50%;">
      <div class="uc-background">
        <%= yield %>
      </div>
    </div>
</body>
</html>